@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx932d9b5eb387da28&redirect_uri=http://94ckmc.natappfree.cc/home/privacy&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
            微信网页授权(需要手动授权)
        </a>
        <br />
        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx932d9b5eb387da28&redirect_uri=http://94ckmc.natappfree.cc/home/privacy&response_type=code&scope=snsapi_base&state=STATE#wechat_redirect">
            微信网页授权(直接获取,已经关注了的)
        </a>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<div id="app" asp-prerender-module="wwwroot/js/server"></div>
<script src="~/js/client.js"></script>
